<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender with Logstash JSON format -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
            <includeCallerData>true</includeCallerData>
            <fieldNames>
                <callerClass>class_name</callerClass>
                <callerMethod>method_name</callerMethod>
                <callerFile>file_name</callerFile>
                <callerLine>line_number</callerLine>
            </fieldNames>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <maxLength>2048</maxLength>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <!-- Exclude certain classes from stack trace -->
                <exclude>sun\.reflect\..*\.invoke.*</exclude>
                <exclude>net\.sf\cglib\.proxy\.MethodProxy\.invoke</exclude>
                <exclude>\$\$FastClassByCGLIB\$\$</exclude>
                <exclude>\$\$EnhancerBySpringCGLIB\$\$</exclude>
                <exclude>^sun.\.reflect\..*\.invoke</exclude>
                <exclude>^com\.sun\.</exclude>
                <exclude>^sun\.net\.</exclude>
                <exclude>^java\.lang\.reflect\.Method\.invoke</exclude>
                <exclude>^org\.springframework\..*</exclude>
                <exclude>^org\.apache\.tomcat\..*</exclude>
                <rootCauseFirst>true</rootCauseFirst>
                <inlineHash>true</inlineHash>
            </throwableConverter>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/order-service-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 100 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
        </encoder>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RollingFile" />
    </root>

    <!-- Specific logger for io package (set to WARN) -->
    <logger name="io" level="WARN"/>

</configuration>
